# Django-specific ignores
*.sqlite3
__pycache__/
*.pyc

# Django migration files (optional, but good practice for cleanup)
*/migrations/__pycache__/.env
db.sqlite3
core_config/db.sqlite3
__pycache__/
*.pyc
staticfiles/
