{% load static %} {% load widget_tweaks %}
<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/loginSignup/css/style.css' %}" />
    <title>{% block title %}Profile{% endblock %}</title>
  </head>
  <body>
    <header class="header-container">
      <h1 class="app-name">Unfiltered</h1>

      <nav>
        <a class="link" href="{% url 'posts:home' %}">Home</a>
        <a class="link" href="{% url 'accounts:settings' %}">Settings</a>
        <a class="link" href="{% url 'posts:create_post' %}">New Post</a>
        <a class="link" href="{% url 'accounts:logout' %}">Log Out</a>
      </nav>
    </header>

    <main class="profile-page">{% block content %} {% endblock %}</main>

    <footer></footer>
  </body>
</html>
