{% extends "posts/posts_base.html" %} {% load static %} {% block title %}Home
Page{% endblock %} {% block content %} {% if user.is_authenticated %}
<div class="create-button">
  <a class="create" href="{% url 'posts:create_post' %}">+</a>
</div>
{% endif %}

<div class="post-container">
  {% if user.is_authenticated %} {% for post in posts %}
  <div class="post">
    <h2>{{ post.title }}</h2>
    <small>
      Posted by {{ post.author.username }} on {{ post.date_time|date:"M d, Y" }}
    </small>
    <span class="tag tag-{{ post.tag|lower }}">{{ post.get_tag_display }}</span>
    <p>{{ post.description }}</p>
  </div>
  {% empty %}
  <p class="text-center">No posts have been uploaded yet.</p>
  {% endfor %} {% else %} {% for post in posts|slice:":6" %}
  <div class="post">
    <h2>{{ post.title }}</h2>

    <small>
      Posted by {{ post.author.username }} on {{ post.date_time|date:"M d, Y" }}
    </small>
    <span class="tag tag-{{ post.tag|lower }}">{{ post.get_tag_display }}</span>
    <p>{{ post.description }}</p>
  </div>
  {% endfor %} {% endif %}
</div>

{% endblock content %}
