{% extends "posts/posts_base.html" %} {% load static %} {% block title %}Home
Page{% endblock %} {% block content %} {% if user.is_authenticated %}
<div class="create-button">
  <a class="create" href="{% url 'posts:create_post' %}">+</a>
</div>
{% endif %}

<div class="post-container">
  {% if user.is_authenticated %} {% for post in posts %}
  <div class="post">
    <h2>{{ post.title }}</h2>
    <span class="tag tag-{{ post.tag|lower }}">{{ post.get_tag_display }}</span>
    <p>{{ post.author.username }}</p>
    <small>{{ post.date_time|date:"M d, Y" }} - {{post.location}}</small>

    <p>{{ post.description }}</p>
  </div>
  {% endfor %} {% else %} {% for post in posts %}

  <div class="post">
    <h2>{{ post.title }}</h2>
    <span class="tag tag-{{ post.tag|lower }}">{{ post.get_tag_display }}</span>
    <p>{{ post.author.username }}</p>
    <small>{{ post.date_time|date:"M d, Y" }} - {{post.location}}</small>

    <p>{{ post.description }}</p>
    <a href="{% url 'posts:report_post' post_id=post.id %}" class="report-link"
      >!</a
    >
  </div>
  {% endfor %} {% endif %}
</div>
{% endblock content %}
